$font: "Nippo", sans-serif;

html {
  font-family: $font;
}

body {
  // body margin should be 0 so that the containers can fully stretch
  margin: 0 auto;
}

.main {
  // using flexbox to center the headings
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20vh;

  background-color: #333652;
  color: #e9eaec;

  /* vh is perfect for responsible website instead 
   of using a fixed value */
  h1 {
    margin: 20vh auto 0;
    font-weight: 500;
    font-size: 20vh;
  }
  h2 {
    margin: 0 auto;
    font-weight: 400;
    font-size: 10vh;
  }
}

.about-me {
  background-color: #fad02c;
  padding-top: 10vh;
  padding-bottom: 20vh;

  h2 {
    font-size: 10vh;
    text-align: center;
    font-weight: 400;
    color: #333652;
  }
  //using grid to adjust the position of my elements
  //grid gives me here more freedom than flexbox
  .about-grid {
    display: grid;
    grid-template: repeat(2, 50%);
    align-items: center;
    justify-content: center;
    margin: 0 10vh;
    gap: 8vh;

    p {
      grid-area: 1 / 1 / 0 / span 2;
      color: #333652;
      font-size: 1.4vw;
    }
    .image1 {
      max-width: 20vw;
      grid-area: 1 / 2 / span 2;
    }
    .image2 {
      max-width: 40vw;
      grid-area: 2 / 1 / span 2 / span 2;
    }
    img {
      border-radius: 12px;
    }
  }
}
.projects {
  background-color: #90adc6;
  padding-top: 10vh;
  padding-bottom: 20vh;
  h2 {
    font-weight: 400;
    font-size: 10vh;
    text-align: center;
    color: #333652;
  }
}
